{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}

<form action="{% url 'curiousWorkbench:saveNewModel' %}" method="post">
{% csrf_token %}
<div class="FormHeader"><span class="Title">Add Data File</span></div>
<div class="FormRow"><span class="Label">Name:</span><span class="Value">	<input type="Text" name="modelMapName" /> </span></div>
	<div class="FormRow"><span class="Label">Description:</span><span class="Value">	<input type="Text" name="modelDescription" /> </span></div>
	<div class="FormRow"><span class="Label">Created By:</span><span class="Value">	Chandan</span></div>
<div class="FormRow"><span class="Label">Created Date:</span><span class="Value">	{{ timeStamp }}</span></div>
<div class="FormRow"><span class="Label">Raw XML:</span><span class="Value">	
{{ user }}
</span></div>
<div class="FormFooter"><span class="Title">Save Model</span></div>

	<input type="submit" value="saveModel" />
</form>
{% endblock %}
