{% extends "curiousWorkbench/base_child.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Add Event</h5>
			<div class="ibox-tools">

			</div>
		</div>
		<div class="ibox-content">
<form class="form-horizontal" action="{% url 'curiousWorkbench:saveStateMachine' %}" method="post">
{% csrf_token %}
<div class="form-group">
	<label class="col-lg-2 control-label">
Event Code</label>
<div class="col-lg-10">
<input type="Text" class="form-control"  name="Event_Code" value="" ></div>
</div>
<!--
SM_ID
<input type="Text" name="SM_ID" value="" >
-->




<div class="form-group">
	<label class="col-lg-2 control-label">
Expected State</label>
<div class="col-lg-10">
<input type="Text" class="form-control"  name="ExpectedState" value="">
</div>
</div>
<div class="form-group">
	<label class="col-lg-2 control-label">
State</label>
<div class="col-lg-10">
<input type="Text" class="form-control" name="State" value=""></div>
</div>
<!--
Expiry
<input type="Text" name="Expiry" value="">
-->

<div class="form-group">
	<label class="col-lg-2 control-label">
Action</label>
<div class="col-lg-10">
<input type="Text" class="form-control"  name="Action" value=""></div>
</div>

<div class="form-group">
	<label class="col-lg-2 control-label">
Next Event</label>
<div class="col-lg-10">
<input type="Text" class="form-control" name="NextEvent" value=""></div>
</div>

<div class="form-group">
	<label class="col-lg-2 control-label">
CallFunction</label>
<div class="col-lg-10">
<input type="Text" class="form-control" name="CallFunction" value=""></div>
</div>
<!--
ParentSystem
<input type="Text" name="ParentSystem" value="">
-->

<div class="form-group">
	<div class="col-sm-4 col-sm-offset-2">
	<input type="submit"  class="btn btn-white" name="addStateMachine" value="Add Event" />
			</div></div>
</form>
</div>
</div>
</div>
{% endblock %}
