{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Model{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
{% if ModuleList %}


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Modules</h2>
    <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'curiousWorkbench:index' %}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Configure Modules</strong>
                            </li>
                          </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>  {{ ModuleList.count }} Modules Found        </h5>
          <div class="ibox-tools">

            <a href="{% url 'curiousWorkbench:addModule' %}">+ New Module</a></div>

          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th  >ID</th>
                    <th  >Title</th>
                    <th  >Description</th>
                    <th >Goal</th>
                    <th >Author</th>
                    <th >Units</th>
                    </tr>

                  </thead>
                  <tbody>

                    {% for Module in ModuleList %}
                    <tr>
                      <td><a href="{% url 'curiousWorkbench:editModule' Module.ID %}" method="post" alt="{{ Module.ID }}">{{ Module.ID }}</a></td>
                      <td>{{ Module.Title }}</td>
                      <td>{{ Module.Description }}</td>
                      <td>{{ Module.Goal }}</td>
                      <td>{{ Module.Author }}</td>
                      <td>{{ Module.Units }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>



  {% else %}
  <p>No models are available.</p>

  {% endif %}
  <br><br>
  <a href="{% url 'curiousWorkbench:addModule' %}">+Create New Content</a>
  {% endblock %}
