{% extends "curiousWorkbench/base_child.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}


<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Test</h5>
			<div class="ibox-tools">
				<a href="{% url 'curiousWorkbench:addStateMachineSubscription' %}"> _</a></div>

			</div>
		</div>
		<div class="ibox-content">
			<form class="form-horizontal" action="{% url 'curiousWorkbench:saveStateMachine' selStateMachine.SM_ID %}" method="post">
				{% csrf_token %}
				{% if selStateMachine %}
				<div class="form-group"  style="display:none;">
					<label class="col-lg-2 control-label">ID</label>
					<div class="col-lg-10"><input class="form-control" type="Text" name="SM_ID" value="{{selStateMachine.SM_ID}}" disabled></div>
				</div>
				<div class="form-group" >
					<label class="col-lg-2 control-label">Event_Code</label>
					<div class="col-lg-10"><input class="form-control" type="Text" name="Event_Code" value="{{selStateMachine.Event_Code}}" ></div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">ExpectedState</label>
					<div class="col-lg-10"><input class="form-control" type="Text" name="ExpectedState" value="{{ selStateMachine.ExpectedState }}"></div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">State</label>
					<div class="col-lg-10"><input class="form-control" type="Text" name="State" value="{{ selStateMachine.State }}"></div>
				</div>
				<!--
				Expiry
				<input type="Text" name="Expiry" value="{{ selStateMachine.Expiry }}">
			-->
			<div class="form-group"  style="display:none;">
				<label class="col-lg-2 control-label">Action</label>
				<div class="col-lg-10"><input class="form-control" type="Text" name="Action" value="{{ selStateMachine.Action }}"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">NextEvent</label>
				<div class="col-lg-10"><input class="form-control"  type="Text" name="NextEvent" value="{{ selStateMachine.NextEvent }}"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">CallFunction</label>
				<div class="col-lg-10"><input  class="form-control" type="Text" name="CallFunction" value="{{ selStateMachine.CallFunction }}"></div>
			</div>
			<!--
			ParentSystem
			<input type="Text" name="ParentSystem" value="{{ selStateMachine.ParentSystem }}">
		-->
		{% endif %}
		<div class="form-group">
			<div class="col-sm-6 col-sm-offset-2">
				<input class="btn btn-white" type="submit" name="saveStateMachine" value="Save Event" />
				<input class="btn btn-white" type="submit" name="deleteStateMachine" value="Delete Event" />
			</div></div>
		</fieldset>
	</form>
	<script type="text/javascript">
		function changeWindowContent(){
			parent.document.getElementById('messageWindow').src="/editMessageLibrary/"+ {{ selActionID }}  ;
		}
		window.onload = changeWindowContent;
	</script>


</div>
</div>
</div>
{% endblock %}
