{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}

<form action="{% url 'curiousWorkbench:saveModel' modelMap.id %}" method="post">
{% csrf_token %}
	{% if modelMap %}
<div class="FormHeader"><span class="Title">Edit Model</span></div>
<div class="FormRow"><span class="Label">Name:</span><span class="Value">	{{ modelMap.Name }}</span></div>
	<div class="FormRow"><span class="Label">Description:</span><span class="Value">	<input type="Text" name="modelDescription" value="{{modelMap.Description}}" > </span></div>
<div class="FormRow"><span class="Label">Created By:</span><span class="Value">	{{ modelMap.CreatedBy }}</span></div>
<div class="FormRow"><span class="Label">Created Date:</span><span class="Value">	{{ modelMap.Created }}</span></div>
<div class="FormRow"><span class="Label">Raw XML:</span><span class="Value">
<TextArea cols="100" rows="20" name="RawXML" ID="txtRawXML">{{ modelMap.RawXML }}
</TextArea>
</span></div>

{% endif %}
	<input type="submit" name="saveModel" value="Save Model" />
	<input type="submit" name="deleteModel" value="Delete Model" />
</form>
{% endblock %}
