{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Edit Module</h5>
			<div class="ibox-tools">

			</div>
		</div>
		<div class="ibox-content">
			<form class="form-horizontal" action="{% url 'curiousWorkbench:saveModule' selModule.ID %}" method="post">
				{% csrf_token %}
				{% if selModule %}



				<!-- <div class="form-group">
					<label class="col-lg-2 control-label">ID</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="ID" value="{{selModule.ID}}" >	</div>
				</div> -->
				<div class="form-group">
					<label class="col-lg-2 control-label">Title</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="Title" value="{{selModule.Title}}" >	</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Description</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="Description" value="{{ selModule.Description }}">	</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Author URL</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="AuthorURL" value="{{ selModule.AuthorURL }}">	</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Goal</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="Goal" value="{{ selModule.Goal }}">	</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Author</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="Author" value="{{ selModule.Author }}">	</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Units</label>
					<div class="col-lg-10">	<input class="form-control" type="Text" name="Units" value="{{ selModule.Units }}">	</div>
				</div>

				{% endif %}
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
				<input  class="btn btn-white" type="submit" name="saveModule" value="Save Module" />
				<input  class="btn btn-white" type="submit" name="deleteModule" value="Delete Module" />
</div></div>



			</form>
		</div>
	</div></div>
			{% endblock %}
