{% extends "curiousWorkbench/base_child.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Message</h5>
			<div class="ibox-tools">
				<a href="{% url 'curiousWorkbench:addMessageLibrary' %}"> + New Message</a></div>

			</div>
		</div>
		<div class="ibox-content">
				{% if selMessageLibrary %}
			<form class="form-horizontal" action="{% url 'curiousWorkbench:saveMessageLibrary' selMessageLibrary.EventID %}" method="post">
				{% csrf_token %}

				<div class="form-group" style="display:none;">
					<label class="col-lg-2 control-label">ID</label>
					<div class="col-lg-10">
						<input type="Text" class="form-control" name="ID" value="{{selMessageLibrary.ID}}" disabled></div>
					</div>
					<div class="form-group" style="display:none;">
						<label class="col-lg-2 control-label"> Order</label>
						<div class="col-lg-10">
							<input type="Text" name="MsgOrder" class="form-control" value="{{selMessageLibrary.MsgOrder}}" disabled></div>
						</div>

						<div class="form-group" style="display:none;">
							<label class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10">
								<input type="Text" class="form-control" name="Action" value="{{selMessageLibrary.Action}}" ></div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label"> Type</label>
								<div class="col-lg-10">
									<input type="radio" name="MessageType" value="Text" {% if selMessageLibrary.MessageType == "Text" %} checked {% endif %}> Text &nbsp;
								  <input type="radio" name="MessageType" value="Buttons" {% if selMessageLibrary.MessageType == "Buttons" %} checked {% endif %}> Buttons &nbsp;
								  <input type="radio" name="MessageType" value="List" {% if selMessageLibrary.MessageType == "List" %} checked {% endif %}> List &nbsp;
									<input type="radio" name="MessageType" value="Image" {% if selMessageLibrary.MessageType == "Image" %} checked {% endif %}> Image &nbsp;
									<input type="radio" name="MessageType" value="Video" {% if selMessageLibrary.MessageType == "Video" %} checked {% endif %}> Video &nbsp;
								</div>
								<br>

							<div class="tabs-container">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> Text</a></li>
									<li><a data-toggle="tab" href="#tab-2" aria-expanded="false"> Image</a></li>
									<li><a data-toggle="tab" href="#tab-3" aria-expanded="false"> Video</a></li>
									<li><a data-toggle="tab" href="#tab-4" aria-expanded="false"> Button</a></li>
									<li><a data-toggle="tab" href="#tab-5" aria-expanded="false"> QuickReply</a></li>
									<!-- <li><a data-toggle="tab" href="#tab-6" aria-expanded="false"> List</a></li> -->

								</ul>

								<div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
																			<div class="form-group">
																				<label class="col-lg-2 control-label"> Text</label>
																				<div class="col-lg-10">
																					<TextArea style="height:100px;" name="MessageText" class="form-control" >{{ selMessageLibrary.MessageText }}</TextArea></div>
																				</div>

																</div>
															</div>
															<div id="tab-2" class="tab-pane">
	                                <div class="panel-body">
																			<div class="form-group">
																				<label class="col-lg-2 control-label"> Image</label>
																				<div class="col-lg-10">
																					<input type="Text" name="MessageImage" class="form-control" value="{{ selMessageLibrary.MessageImage }}"></div>
																					{% if selMessageLibrary.MessageImage != "" %}
																					<img src="{{selMessageLibrary.MessageImage}}" style="width:200px;">
																					{% endif %}
																				</div>
																	</div>
																</div>
																<div id="tab-3" class="tab-pane">
		                                <div class="panel-body">
																				<div class="form-group">
																					<label class="col-lg-2 control-label"> Video</label>
																					<div class="col-lg-10">
																						<input type="Text" class="form-control" name="MessageVideo" value="{{ selMessageLibrary.MessageVideo }}"></div>
																					</div>
																		</div>
																	</div>
																	<div id="tab-4" class="tab-pane">
			                                <div class="panel-body">
																					<div class="form-group">
																						<label class="col-lg-2 control-label"> Buttons</label>
																						<div class="col-lg-10">
																							<input type="Text" class="form-control" name="MessageButtons" value="{{ selMessageLibrary.MessageButtons }}"></div>
																						</div>
																			</div>
																		</div>
																		<div id="tab-5" class="tab-pane">
				                                <div class="panel-body">
																						<div class="form-group">
																							<label class="col-lg-2 control-label"> Quick Replies</label>
																							<div class="col-lg-10">
																								<input type="Text" class="form-control" name="MessageQuickReplies" value="{{ selMessageLibrary.MessageQuickReplies }}"></div>
																							</div>
																				</div>
																			</div>
							</div>
							</div>





<br>
													<div class="form-group">
														<div class="col-sm-6 col-sm-offset-2">
															<input class="btn btn-white" type="submit" name="saveMessage" value="Save Message" />
															<input class="btn btn-white" type="submit" name="deleteMessage" value="Delete Message" />
														</div>
													</div>
												</form>
												{% else %}
												No Message
												{% endif %}

											</div>
										</div></div>
										{% endblock %}
