{% extends "curiousWorkbench/base_child.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}


<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Event</h5>
			<div class="ibox-tools">
				<a href="{% url 'curiousWorkbench:addStateMachineSubscription' %}"> + New Event</a></div>

			</div>
		</div>
		<div class="ibox-content">
			<form class="form-horizontal" action="{% url 'curiousWorkbench:saveStateMachine' selStateMachine.SM_ID %}" method="post">
				{% csrf_token %}
				{% if selStateMachine %}
				<div class="form-group"  style="display:none;">
					<label class="col-lg-2 control-label">ID</label>
					<div class="col-lg-10"><input class="form-control" type="Text" name="SM_ID" value="{{selStateMachine.SM_ID}}" disabled></div>
				</div>
				<div class="form-group" >
					<label class="col-lg-2 control-label">Event</label>
					<div class="col-lg-10"><input class="form-control" type="Text" name="Event_Code" value="{{selStateMachine.Event_Code}}" ></div>
				</div>

				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#tab-2" aria-expanded="true"> Settings</a></li>
						<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="false"> Input</a></li>

					</ul>

					<div class="tab-content">
											<div id="tab-1" class="tab-pane">
													<div class="panel-body">
																<div class="form-group">
																	<label class="col-lg-2 control-label"> Inputs</label>
																	<div class="col-lg-10">
																		<TextArea style="height:20px;" name="MessageText" class="form-control" ></TextArea>
																		<TextArea style="height:20px;" name="MessageText" class="form-control" ></TextArea>
																		<TextArea style="height:20px;" name="MessageText" class="form-control" ></TextArea>
																	</div>
																	</div>

													</div>
												</div>
												<div id="tab-2" class="tab-pane active">
														<div class="panel-body">
																<div class="form-group">
																	<label class="col-lg-2 control-label"> State</label>
																	<div class="col-lg-10">

																		<div class="form-group">
																			<label class="col-lg-2 control-label">ExpectedState</label>
																			<div class="col-lg-10"><input class="form-control" type="Text" name="ExpectedState" value="{{ selStateMachine.ExpectedState }}"></div>
																		</div>
																		<div class="form-group">
																			<label class="col-lg-2 control-label">State</label>
																			<div class="col-lg-10"><input class="form-control" type="Text" name="State" value="{{ selStateMachine.State }}"></div>
																		</div>
																		<!--
																		Expiry
																		<input type="Text" name="Expiry" value="{{ selStateMachine.Expiry }}">
																	-->
																	<div class="form-group"  style="display:none;">
																		<label class="col-lg-2 control-label">Action</label>
																		<div class="col-lg-10"><input class="form-control" type="Text" name="Action" value="{{ selStateMachine.Action }}"></div>
																	</div>
																	<div class="form-group">
																		<label class="col-lg-2 control-label">NextEvent</label>
																		<div class="col-lg-10"><input class="form-control"  type="Text" name="NextEvent" value="{{ selStateMachine.NextEvent }}"></div>
																	</div>
																	<div class="form-group">
																		<label class="col-lg-2 control-label">CallFunction</label>
																		<div class="col-lg-10"><input  class="form-control" type="Text" name="CallFunction" value="{{ selStateMachine.CallFunction }}"></div>
																	</div>





																	</div>
														</div>
													</div>

				</div>
				</div>















			<!--
			ParentSystem
			<input type="Text" name="ParentSystem" value="{{ selStateMachine.ParentSystem }}">
		-->
		{% endif %}
		<div class="form-group">
			<div class="col-sm-6 col-sm-offset-2">
				<input class="btn btn-white" type="submit" name="saveStateMachine" value="Save Event" />
				<input class="btn btn-white" type="submit" name="deleteStateMachine" value="Delete Event" />
			</div></div>
		</fieldset>
	</form>
	<script type="text/javascript">
		function changeWindowContent(){
			parent.document.getElementById('messageWindow').src= "{{rootURL}}/editMessageLibrary/"+ {{ selEventID }}  ;
		}
		window.onload = changeWindowContent;
	</script>


</div>
</div>
</div>
{% endblock %}
