{% load staticfiles %}

{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WalnutAI</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{% static 'curiousWorkbench/images/favicon.png' %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'curiousWorkbench/images/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'curiousWorkbench/images/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'curiousWorkbench/images/apple-touch-icon-114x114.png' %}">

  <link rel="stylesheet" href="{% static 'curiousWorkbench/webstyle.css' %}">

</head>
<body>

<form action="{% url 'curiousWorkbench:user_login' %}" method="post" >
    {% csrf_token %}


    <div class="content">
      <div class="introduction-block row-6 container">
        <div class="clear">
          <div class="col-6-desktop">
            <div class="col-11 no-float no-padding">
              <h2 class="uppercase">Topic Analysis Metrics</h2>
              <p class="p-big">

    <table>
      <tr><th>	2015-05-01	</th><th>	Usage 	</th><th>	2015-06-01	</th><th>	Usage 	</th><th>	2015-06-01	</th><th>	Usage 	</th><th>	2015-08-01	</th><th>	Usage 	</th><th>	2015-09-01	</th><th>	Usage 	</th><th>	2015-10-01	</th><th>	Usage 	</th><th>	2015-11-01	</th><th>	Usage 	</th><th>	2015-12-01	</th><th>	Usage 	</th><th>	2016-01-01	</th><th>	Usage 	</th><th>	2016-01-01	</th><th>	Usage 	</th><th>	2016-01-01	</th><th>	Usage 	</th><th>	2016-04-01	</th><th>	Usage 	</td</th>
    <tr><td>	 yeah	</td><td>	28	</td><td>	 simple_smile	</td><td>	42	</td><td>	 bot	</td><td>	17	</td><td>	 add	</td><td>	8	</td><td>	 <https	</td><td>	10	</td><td>	 make	</td><td>	8	</td><td>	 <@u04s1qcpc>	</td><td>	13	</td><td>	 <https	</td><td>	28	</td><td>	 <https	</td><td>	65	</td><td>	 simple_smile	</td><td>	70	</td><td>	 bot	</td><td>	51	</td><td>	 simple_smile	</td><td>	61	</td></tr>
    <tr><td>	 <http	</td><td>	22	</td><td>	 bot	</td><td>	41	</td><td>	 //dev4slack	</td><td>	16	</td><td>	 //www	</td><td>	6	</td><td>	 slack	</td><td>	8	</td><td>	 team	</td><td>	8	</td><td>	 <@u0cs6nsf5>	</td><td>	13	</td><td>	 slack	</td><td>	26	</td><td>	 bot	</td><td>	65	</td><td>	 <https	</td><td>	53	</td><td>	 simple_smile	</td><td>	41	</td><td>	 bot	</td><td>	45	</td></tr>
    <tr><td>	 <@u04sm6t2h>	</td><td>	19	</td><td>	 <http	</td><td>	27	</td><td>	 file	</td><td>	16	</td><td>		</td><td>		</td><td>	 //www	</td><td>	8	</td><td>	 working	</td><td>	8	</td><td>	 <http	</td><td>	12	</td><td>	 <http	</td><td>	12	</td><td>	 <http	</td><td>	44	</td><td>	 <http	</td><td>	32	</td><td>	 <http	</td><td>	26	</td><td>	 botkit	</td><td>	26	</td></tr>
    <tr><td>	 //www	</td><td>	17	</td><td>	 <@u04sm6t2h>	</td><td>	20	</td><td>	 png	</td><td>	15	</td><td>		</td><td>		</td><td>	 <@u04sm6t2h>	</td><td>	8	</td><td>	 <@u0bshtg0p>	</td><td>	8	</td><td>	 <https	</td><td>	11	</td><td>	 //api	</td><td>	11	</td><td>	 bots	</td><td>	28	</td><td>	 app	</td><td>	25	</td><td>	 user	</td><td>	23	</td><td>	 //dev4slack	</td><td>	25	</td></tr>
    <tr><td>	 bot	</td><td>	17	</td><td>	 bots	</td><td>	18	</td><td>	 bots	</td><td>	12	</td><td>		</td><td>		</td><td>	 bot	</td><td>	7	</td><td>	 thing	</td><td>	8	</td><td>	 team	</td><td>	10	</td><td>	 rtm	</td><td>	10	</td><td>	 yeah	</td><td>	28	</td><td>	 user	</td><td>	25	</td><td>	 botkit	</td><td>	19	</td><td>	 user	</td><td>	24	</td></tr>
    <tr><td>	 simple_smile	</td><td>	16	</td><td>	 make	</td><td>	18	</td><td>	 simple_smile	</td><td>	12	</td><td>		</td><td>		</td><td>	 cool	</td><td>	7	</td><td>	 guys	</td><td>	8	</td><td>	 ai>	</td><td>	9	</td><td>	 team	</td><td>	9	</td><td>	 time	</td><td>	27	</td><td>	 <@u0ll6rzps>	</td><td>	21	</td><td>	 api	</td><td>	18	</td><td>	 message	</td><td>	24	</td></tr>
    <tr><td>	 build	</td><td>	15	</td><td>	 file	</td><td>	16	</td><td>	 yeah	</td><td>	11	</td><td>		</td><td>		</td><td>	 node	</td><td>	6	</td><td>	 hubot	</td><td>	8	</td><td>	 <@u0cnyc404>	</td><td>	8	</td><td>	 //github	</td><td>	8	</td><td>	 user	</td><td>	25	</td><td>	 dont	</td><td>	21	</td><td>	 team	</td><td>	16	</td><td>	 make	</td><td>	23	</td></tr>
    <tr><td>	 //github	</td><td>	14	</td><td>	 //dev4slack	</td><td>	16	</td><td>	 work	</td><td>	10	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 howdy	</td><td>	7	</td><td>	 bot	</td><td>	8	</td><td>	 work	</td><td>	8	</td><td>	 api	</td><td>	24	</td><td>	 work	</td><td>	20	</td><td>	 file	</td><td>	16	</td><td>	 yeah	</td><td>	22	</td></tr>
    <tr><td>	 bots	</td><td>	13	</td><td>	 people	</td><td>	15	</td><td>	 time	</td><td>	9	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 <@u0csbgtkm>	</td><td>	7	</td><td>	 <@u04sm6t2h>	</td><td>	7	</td><td>	 channels	</td><td>	8	</td><td>	 work	</td><td>	23	</td><td>	 <@u0gpsb7v1>	</td><td>	20	</td><td>	 //dev4slack	</td><td>	15	</td><td>	 <@u0cs6nsf5>	</td><td>	21	</td></tr>
    <tr><td>	 cool	</td><td>	13	</td><td>	 png	</td><td>	14	</td><td>	 reactions	</td><td>	9	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 hipster	</td><td>	7	</td><td>	 good	</td><td>	7	</td><td>	 invite	</td><td>	7	</td><td>	 message	</td><td>	22	</td><td>	 add	</td><td>	19	</td><td>	 users	</td><td>	15	</td><td>	 people	</td><td>	19	</td></tr>
    <tr><td>	 built	</td><td>	13	</td><td>	 time	</td><td>	13	</td><td>	 //api	</td><td>	9	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 hey	</td><td>	7	</td><td>	 api	</td><td>	7	</td><td>	 web api	</td><td>	7	</td><td>	 people	</td><td>	21	</td><td>	 bots	</td><td>	19	</td><td>	 <@u0cs6nsf5>	</td><td>	15	</td><td>	 send	</td><td>	18	</td></tr>
    <tr><td>	 people	</td><td>	13	</td><td>	 yeah	</td><td>	13	</td><td>	 add	</td><td>	8	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 item	</td><td>	7	</td><td>	 user	</td><td>	6	</td><td>	 message	</td><td>	7	</td><td>	 <@u0cs6nsf5>	</td><td>	21	</td><td>	 people	</td><td>	18	</td><td>	 message	</td><td>	14	</td><td>	 bots	</td><td>	17	</td></tr>
    <tr><td>	 <@u04s09gln>	</td><td>	13	</td><td>	 work	</td><td>	11	</td><td>	 <http	</td><td>	8	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 heroku	</td><td>	7	</td><td>	 converse	</td><td>	6	</td><td>	 //dev4slack	</td><td>	7	</td><td>	 botkit	</td><td>	20	</td><td>	 make	</td><td>	17	</td><td>	 //github	</td><td>	14	</td><td>	 don	</td><td>	17	</td></tr>
    <tr><td>	 time	</td><td>	12	</td><td>	 team	</td><td>	10	</td><td>	 api	</td><td>	8	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 good	</td><td>	7	</td><td>	 send	</td><td>	6	</td><td>	 yeah	</td><td>	7	</td><td>	 team	</td><td>	20	</td><td>	 team	</td><td>	17	</td><td>	 //api	</td><td>	13	</td><td>	 file	</td><td>	16	</td></tr>
    <tr><td>	 set	</td><td>	12	</td><td>	 <@u055fhacc>	</td><td>	10	</td><td>	 <@u04sm6t2h>	</td><td>	7	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 place	</td><td>	7	</td><td>		</td><td>		</td><td>	 user	</td><td>	6	</td><td>	 bit	</td><td>	20	</td><td>	 //www	</td><td>	17	</td><td>	 time	</td><td>	13	</td><td>	 case	</td><td>	15	</td></tr>
    <tr><td>	 <@u04s1qcpc>	</td><td>	11	</td><td>	 built	</td><td>	10	</td><td>	 nice	</td><td>	7	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 github	</td><td>	6	</td><td>		</td><td>		</td><td>	 file	</td><td>	6	</td><td>	 case	</td><td>	19	</td><td>	 //dev4slack	</td><td>	17	</td><td>	 app	</td><td>	12	</td><td>	 <http	</td><td>	15	</td></tr>
    <tr><td>	 twitter	</td><td>	11	</td><td>	 png>	</td><td>	9	</td><td>	 <@u07hxfwud>	</td><td>	7	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 bleeping sound	</td><td>	6	</td><td>		</td><td>		</td><td>	 bots	</td><td>	6	</td><td>	 guys	</td><td>	19	</td><td>	 post	</td><td>	16	</td><td>	 access	</td><td>	12	</td><td>	 thought	</td><td>	14	</td></tr>
    <tr><td>	 make	</td><td>	10	</td><td>	 wink	</td><td>	9	</td><td>	 thumbsup	</td><td>	7	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 experienced mild pleasure	</td><td>	6	</td><td>		</td><td>		</td><td>	 rtm api	</td><td>	6	</td><td>	 &gt	</td><td>	18	</td><td>	 api	</td><td>	16	</td><td>	 work	</td><td>	12	</td><td>	 give	</td><td>	12	</td></tr>

    </table>


  </p>
</div></div></div></div></div>

    <div class="content">
      <div class="introduction-block row-6 container">
        <div class="clear">
          <div class="col-6-desktop">
            <div class="col-11 no-float no-padding">
              <h2 class="uppercase">User Participation Metrics</h2>
              <p class="p-big">

    <table>
      <tr><th>	2015-05-01	</th><th>	Participation	</th><th>	2015-06-01	</th><th>	Participation	</th><th>	2015-07-01	</th><th>	Participation	</th><th>	2015-08-01	</th><th>	Participation	</th><th>	2015-09-01	</th><th>	Participation	</th><th>	2015-10-01	</th><th>	Participation	</th><th>	2015-11-01	</th><th>	Participation	</th><th>	2015-12-01	</th><th>	Participation	</th><th>	2016-01-01	</th><th>	Participation	</th><th>	2016-02-01	</th><th>	Participation	</th><th>	2016-03-01	</th><th>	Participation	</th><th>	2016-04-01	</th><th>	Participation	</th><th>	2016-05-01	</th><th>	Participation	</th></tr>
      <tr><td>	 U04SM6T2H	</td><td>	8386	</td><td>	 U04SM6T2H	</td><td>	7566	</td><td>	 U04SM6T2H	</td><td>	1677	</td><td>	 U07HQL693	</td><td>	234	</td><td>	 U09A7K1KR	</td><td>	234	</td><td>	 U0D1UMSV6	</td><td>	1053	</td><td>	 U0CS6NSF5	</td><td>	1677	</td><td>	 U0GPSB7V1	</td><td>	1014	</td><td>	 U0CS6NSF5	</td><td>	5109	</td><td>	 U0HBN0L9M	</td><td>	2608	</td><td>	 U0CS6NSF5	</td><td>	2524	</td><td>	 U0CS6NSF5	</td><td>	2808	</td><td>	 U04SM6T2H	</td><td>	4889	</td></tr>
      <tr><td>	 U04S09GLN	</td><td>	2601	</td><td>	 U05334HCE	</td><td>	1638	</td><td>	 U07K5QQDN	</td><td>	234	</td><td>	 U07K5QQDN	</td><td>	273	</td><td>	 U0AQ8GPGR	</td><td>	273	</td><td>	 U0CSBGTKM	</td><td>	1092	</td><td>	 U04S6E9EW	</td><td>	234	</td><td>	 U0GQ4GVPY	</td><td>	1248	</td><td>	 U0HBN0L9M	</td><td>	3627	</td><td>	 U0GPSB7V1	</td><td>	2565	</td><td>	 U0HBN0L9M	</td><td>	1133	</td><td>	 U04SM6T2H	</td><td>	1482	</td><td>	 U0CS6NSF5	</td><td>	2383	</td></tr>
      <tr><td>	 U04SS2NBF	</td><td>	1975	</td><td>	 U055FHACC	</td><td>	1482	</td><td>	 U07UXKV0A	</td><td>	234	</td><td>	 U04S1QCPC	</td><td>	273	</td><td>	 U07HXFWUD	</td><td>	624	</td><td>	 U0CT32R88	</td><td>	1677	</td><td>	 U0AFABJAJ	</td><td>	234	</td><td>	 U0GQ2JCCA	</td><td>	234	</td><td>	 U04SM6T2H	</td><td>	2535	</td><td>	 U0CS6NSF5	</td><td>	2464	</td><td>	 U0GPSB7V1	</td><td>	850	</td><td>	 U0HBN0L9M	</td><td>	1014	</td><td>	 U0HBN0L9M	</td><td>	1347	</td></tr>
      <tr><td>	 U04SR77Q1	</td><td>	1395	</td><td>	 U069GF9UY	</td><td>	1482	</td><td>	 U06E352LU	</td><td>	273	</td><td>	 U04SM6T2H	</td><td>	780	</td><td>	 U04SM6T2H	</td><td>	975	</td><td>	 U0BSHTG0P	</td><td>	1950	</td><td>	 U04S3JCH2	</td><td>	234	</td><td>	 U055FHACC	</td><td>	234	</td><td>	 U0D7LHNTX	</td><td>	1755	</td><td>	 U0LL6RZPS	</td><td>	1920	</td><td>	 U0SDZFGCX	</td><td>	800	</td><td>	 U11FSNKL0	</td><td>	858	</td><td>	 U0GPSB7V1	</td><td>	937	</td></tr>
      <tr><td>	 U04S4763Y	</td><td>	1310	</td><td>	 U05560TFT	</td><td>	1443	</td><td>	 U07SD6GBU	</td><td>	312	</td><td>		</td><td>		</td><td>	 U0A16QMP0	</td><td>	975	</td><td>	 U07K5QQDN	</td><td>	234	</td><td>	 U0D6N6ZHD	</td><td>	234	</td><td>	 U0GQF9LVA	</td><td>	234	</td><td>	 U0GQ4GVPY	</td><td>	1755	</td><td>	 U07HXFWUD	</td><td>	1822	</td><td>	 U0D7LHNTX	</td><td>	762	</td><td>	 U11RM4ELV	</td><td>	702	</td><td>	 U07HXFWUD	</td><td>	758	</td></tr>
      <tr><td>	 U04S1QCPC	</td><td>	1107	</td><td>	 U04S09GLN	</td><td>	1326	</td><td>	 U05676C84	</td><td>	312	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U08FJ9CL8	</td><td>	234	</td><td>	 U0CSBGTKM	</td><td>	273	</td><td>	 U0HBN0L9M	</td><td>	273	</td><td>	 U0GP30PPF	</td><td>	1599	</td><td>	 U0MUZB415	</td><td>	1085	</td><td>	 U0U9DQ4TH	</td><td>	715	</td><td>	 U0D7LHNTX	</td><td>	663	</td><td>	 U04S3JCH2	</td><td>	743	</td></tr>
      <tr><td>	 U04S2TZMU	</td><td>	1081	</td><td>	 U04S6E9EW	</td><td>	978	</td><td>	 U06UZ1RKQ	</td><td>	312	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U08JZKC9X	</td><td>	273	</td><td>	 U0D7C5RAL	</td><td>	429	</td><td>	 U0GPTQ81L	</td><td>	312	</td><td>	 U07HXFWUD	</td><td>	1560	</td><td>	 U0K7Y2SK0	</td><td>	1003	</td><td>	 U0RDALRU0	</td><td>	480	</td><td>	 U0K7Y2SK0	</td><td>	663	</td><td>	 U04S09GLN	</td><td>	722	</td></tr>
      <tr><td>	 U04T5MEBZ	</td><td>	779	</td><td>	 U04S1Q4V0	</td><td>	966	</td><td>	 U07HXFWUD	</td><td>	351	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U06B18V25	</td><td>	2769	</td><td>	 U04S1QCPC	</td><td>	468	</td><td>	 U0G6S4L48	</td><td>	351	</td><td>	 U0GPSB7V1	</td><td>	1209	</td><td>	 U04SM6T2H	</td><td>	979	</td><td>	 U0HKDKHD4	</td><td>	440	</td><td>	 U0AQ8GPGR	</td><td>	624	</td><td>	 U055FHACC	</td><td>	708	</td></tr>
      <tr><td>	 U04UV5TEM	</td><td>	650	</td><td>	 U0644KVQE	</td><td>	741	</td><td>	 U055FHACC	</td><td>	351	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U0CUDUR18	</td><td>	3042	</td><td>	 U04SM6T2H	</td><td>	468	</td><td>	 U0A16QMP0	</td><td>	351	</td><td>	 U0AQ8GPGR	</td><td>	1209	</td><td>	 U0L4DR2V7	</td><td>	915	</td><td>	 U0L4DR2V7	</td><td>	410	</td><td>	 U0F9T9KPH	</td><td>	624	</td><td>	 U04SS2NBF	</td><td>	557	</td></tr>
      <tr><td>	 U04SJBP5Q	</td><td>	533	</td><td>	 U04S3JCH2	</td><td>	702	</td><td>	 U04SX1L23	</td><td>	390	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U0CTMF5MF	</td><td>	312	</td><td>	 U0CNYC404	</td><td>	858	</td><td>	 U0H8KT3AN	</td><td>	429	</td><td>	 U0HUTFBHS	</td><td>	1170	</td><td>	 U0GT29N3A	</td><td>	878	</td><td>	 U0JPS3SHX	</td><td>	405	</td><td>	 U120R8V4Y	</td><td>	585	</td><td>	 U04S1QCPC	</td><td>	556	</td></tr>
      <tr><td>	 U04TLHGSC	</td><td>	486	</td><td>	 U04TLHGSC	</td><td>	702	</td><td>	 U04S4763Y	</td><td>	390	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U0CS6NSF5	</td><td>	312	</td><td>		</td><td>		</td><td>	 U0CS6NSF5	</td><td>	507	</td><td>	 U0J3X1BFG	</td><td>	1092	</td><td>	 U0KJ5A91V	</td><td>	722	</td><td>	 U0TGHKPEU	</td><td>	360	</td><td>	 U0GT29N3A	</td><td>	585	</td><td>	 U0D7LHNTX	</td><td>	546	</td></tr>
      <tr><td>	 U04S3JCH2	</td><td>	330	</td><td>	 U04S1QCPC	</td><td>	702	</td><td>	 U07060PG9	</td><td>	468	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U0554MQJB	</td><td>	312	</td><td>		</td><td>		</td><td>	 U0CSRV1TR	</td><td>	546	</td><td>	 U0D1UMSV6	</td><td>	1014	</td><td>	 U0K176R8A	</td><td>	624	</td><td>	 U0LLUCLP3	</td><td>	359	</td><td>	 U04S3JCH2	</td><td>	507	</td><td>	 U0CUDUR18	</td><td>	516	</td></tr>
      <tr><td>	 U04SX1L23	</td><td>	328	</td><td>	 U04S6E9EW	</td><td>	624	</td><td>	 U04SS2NBF	</td><td>	585	</td><td>		</td><td>		</td><td>		</td><td>		</td><td>	 U0CSJUB1D	</td><td>	390	</td><td>		</td><td>		</td><td>	 U04SM6T2H	</td><td>	624	</td><td>	 U0GT29N3A	</td><td>	819	</td><td>	 U0M7BVC3D	</td><td>	585	</td><td>	 U04SM6T2H	</td><td>	356	</td><td>	 U0K43G63U	</td><td>	468	</td><td>	 U0AQ8GPGR	</td><td>	492	</td></tr>

    </table>


  </p>
</div></div></div></div></div>
    <script src="{% static 'curiousWorkbench/Chart.js' %}"></script>
    <script>
        var myChart = new Chart({...})
    </script>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>






            <div class="tab-pane" id="event-group-2">
              <div class="panel-group" id="event-2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="event-schedule-title" data-toggle="collapse" data-parent="#event-2" href="#event-2-auditorium-a">
                        <span class="event-schedule-time">09:00 - 10:30</span>
                        <span class="event-schedule-name">Auditorium A</span>
                      </a>
                    </h4>
                  </div>
                  <div id="event-2-auditorium-a" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                  </div>
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="event-schedule-title collapsed" data-toggle="collapse" data-parent="#event-2" href="#event-2-auditorium-b">
                        <span class="event-schedule-time">12:00 - 13:30</span>
                        <span class="event-schedule-name">Auditorium B</span>
                      </a>
                    </h4>
                  </div>
                  <div id="event-2-auditorium-b" class="panel-collapse collapse">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="promotional-block container">
    <div class="clear">
      <div class="col-6-desktop">
        <div class="video-responsive">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mSdXHsPkg5w" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-5-desktop right-desktop row-2 row-0-desktop">
        <h2 class="uppercase">Promotional video</h2>
        <p class="p-big">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <p>
          <a class="icon icon-right arrow-right uppercase" href="#">Youtube channel</a>
        </p>
      </div>
    </div>
  </div>


  <div class="gallery-block content-block container row-5-desktop">
    <div class="clear">
      <div class="col-5-desktop">
        <h2 class="uppercase">Event gallery</h2>
        <p class="p-big">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <p>
          <a class="icon icon-right arrow-right uppercase" href="#">Flickr stream</a>
        </p>
      </div>
      <div class="col-6-desktop right-desktop row-2 row-0-tablet">
        <div class="carousel slide" id="carousel-gallery">
          <ol class="carousel-indicators">
            <li data-target="#carousel-gallery" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-gallery" data-slide-to="1"></li>
            <li data-target="#carousel-gallery" data-slide-to="2"></li>
            <li data-target="#carousel-gallery" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="img/conference-image-1.jpg" alt="Conference">
            </div>
            <div class="item">
              <img src="img/conference-image-2.jpg" alt="Conference">
            </div>
            <div class="item">
              <img src="img/conference-image-3.jpg" alt="Conference">
            </div>
            <div class="item">
              <img src="img/conference-image-2.jpg" alt="Conference">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="grey-row">
    <div class="register-block row-6 container text-center">
      <h2 class="uppercase">Get ready for Walnut </h2>
      <div class="col-6-tablet no-float center-element">
        <p class="p-big">
          Walnut is close to a beta launch and will be available shortly. Signup for an early bird access .
        </p>
      </div>
      <div action="" class="register-form col-10-desktop col-8-hd no-float center-element">
        <fieldset>
          <legend class="sr">Register your event</legend>
          <div class="clear">
            <div class="col-3-tablet row-1 row-0-tablet">
              <label for="name" class="sr">Full Name</label>
              <input type="text" class="field" name="name" id="name" placeholder="Full Name">
            </div>
            <div class="col-3-tablet row-1 row-0-tablet">
              <label for="email" class="sr">Email Address</label>
              <input type="email" class="field" name="email" id="email" placeholder="Email Address">
            </div>
            <div class="col-3-tablet row-1 row-0-tablet">
              <label for="plan" class="sr">Event Plan</label>
              <span class="select">
                <select name="plan" id="plan">
                  <option value="">My business</option>
                  <option value="plan-1">Software</option>
                  <option value="plan-1">Hardware </option>
                  <option value="plan-1">Finance</option>
                  <option value="plan-1">Law</option>
                  <option value="plan-1">Services</option>
                  <option value="plan-1">Marketing</option>
                  <option value="plan-1">Education</option>
                  <option value="plan-1">Government</option>

                </select>
              </span>
            </div>
            <div class="col-3-tablet row-1 row-0-tablet">
              <button class="button button-primary"><span class="icon icon-right chevron-right">Register</span></button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <!--
  <div class="event-sponsors-block row-4 container text-center">
    <h2 class="uppercase none-desktop">Event Sponsors</h2>
    <ul class="event-sponsor-list">
      <li class="row-1 row-0-desktop"><a href="#" class="sponsor sponsor-facebook"><span class="sr">Facebook</span></a></li>
      <li class="row-1 row-0-desktop"><a href="#" class="sponsor sponsor-jquery"><span class="sr">jQuery</span></a></li>
      <li class="row-1 row-0-desktop"><a href="#" class="sponsor sponsor-envato"><span class="sr">Envato</span></a></li>
      <li class="row-1 row-0-desktop"><a href="#" class="sponsor sponsor-tumblr"><span class="sr">Tumblr</span></a></li>
      <li class="row-1 row-0-desktop"><a href="#" class="sponsor sponsor-atlassian"><span class="sr">Atlassian</span></a></li>
    </ul>
  </div>


  <div class="event-location-block content-block">
    <h2 class="sr">Event Location</h2>

    <div id="map" class="map">
    <div class="location-box-container">
        <div class="location-box">
          <h2 class="h6 strong">Sydney Exhibition Centre</h2>
          <address class="location">
            Glebe Island - 41 James Craig Road <br>
            Rozelle NSW 2039
          </address>
          <span class="block text-right">
            <a class="icon icon-right arrow-right uppercase" href="#">Get directions</a>
          </span>
        </div>
      </div>
      <div id="google-map" class="google-map"></div>
    </div>
  </div>

</div>
-->

<div class="footer-block">
  <div class="footer">
    <div class="container-full">
      <div class="clear footer-content-blocks">
        <div class="footer-content-block col-4-tablet col-5-desktop">
          <div class="col-11-desktop no-float-desktop">
            <h3 class="h4 h-white">About Us</h3>
            <p>
              Walnut is built in San Francisco, California . With a vision with democratize
              enterprize knowledge creation and consumption. Its time knowledge orgaizations
              did something about kowledge , isnt it ?
            </p>
          </div>
        </div>
        <div class="footer-content-block col-4-tablet col-4-desktop">
          <div class="col-10-desktop no-float-desktop">
            <h3 class="h4 h-white">Need Help?</h3>
            <p>
              Chat with use and see what Walnut can do <a href="#">Contact Us</a>
            </p>
          </div>
        </div>
        <div class="footer-content-block col-4-tablet col-3-desktop">
          <div class="col-12-desktop no-float-desktop">
            <h3 class="h4 h-white">Get In Touch</h3>
            <ul class="contact-list">
              <li><a class="footer-link icon icon-left icon-phone" href="#">+1 000 000 0000</a></li>
              <li><a class="footer-link icon icon-left icon-email" href="#">support@walnutai.com</a></li>
              <li><a class="footer-link icon icon-left icon-skype" href="#">walnutai</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>
        Copyright 2016 WalutAI
      </p>
    </div>
  </div>
</div>


<script src="js/vendor/jquery-1.11.3.min.js"></script>
<script src="js/vendor/webfontloader.js"></script>

<script src="js/vendor/jquery.mobile.custom.min.js"></script>
<script src="js/vendor/bootstrap.transition.js"></script>
<script src="js/vendor/bootstrap.carousel.js"></script>
<script src="js/vendor/bootstrap.collapse.js"></script>
<script src="js/vendor/bootstrap.dropdown.js"></script>
<script src="js/vendor/bootstrap.tab.js"></script>

<script src="js/vendor/jquery.drawsvg.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="js/default.js"></script>

</form>
</body>
</html>
