{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}My Config Model Page

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'curiousWorkbench/ajaxmain.js' %}"></script>


{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}


  <div class="container">
      <div class="container">
          <h3>TODO:</h3>
          <ul>
              <li>Take out trash</li>
          </ul>
          <button class='btn get-more'>Get More Todos</button>
      </div>
      <div class="container">
          <h3>Add Todo</h3>
          {% csrf_token %}
          <div>
              <label for="todo">
                  <input class="todo-item" type="text" placeholder="Todo Item">
              </div>
              <button class="btn add-todo">Add Todo</button>
          </div>
      </div>
  </div>
{% endblock %}
