{% extends "curiousWorkbench/base.html" %}
{% load staticfiles %}
{% block Header %}Modules{% endblock %}

{% block Footer %}My Footer{% endblock %}

{% block Content %}
{% if ModuleList %}

 <form action="{% url 'curiousWorkbench:uploadContent' %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Modules</h2>
    <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'curiousWorkbench:index' %}">Home</a>
                            </li>
                            <li class="active">
                                <strong>Configure Modulesasdas</strong>
                            </li>
                          </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>  {{ ModuleList.count }} Modules Found        </h5>
          <div class="ibox-tools">

            <a href="{% url 'curiousWorkbench:addModule' 20 %}">+ New Module</a></div>

          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th  >ID</th>
                    <th  >Title</th>
                    <th  >Description</th>
                    <th >Goal</th>
                    <th >Author</th>
                    <th >Units</th>
                    </tr>

                  </thead>
                  <tbody>

                    {% for Module in ModuleList %}
                    <tr>
                      <td><a href="{% url 'curiousWorkbench:editModule' Module.ID %}" method="post" alt="{{ Module.ID }}">{{ Module.ID }}</a></td>
                      <td>{{ Module.Title }}</td>
                      <td>{{ Module.Description }}</td>
                      <td>{{ Module.Goal }}</td>
                      <td>{{ Module.Author }}</td>
                      <td>{{ Module.Units }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <input type="file" name="myfile">
             <button type="submit">Upload</button>
             {% if uploaded_file_url %}
                 <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
               {% endif %}
{% autoescape off %}
{{ dataTable }}
{% endautoescape %}
  {% else %}
  <p>No models are available.</p>

  {% endif %}
  <br><br>
  <a href="{% url 'curiousWorkbench:addModule' %}">+Create New Content</a>
             </form>
  {% endblock %}
